$primary: #E93810;
$secondary: #3F3D88;
$tertiary: #111111;
$white: white;
$wheat: wheat;
$black: black;
$grey: rgb(248, 237, 237);
$grey-dark: rgb(194, 190, 190);

@mixin flex($flex-direction: row){
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: $flex-direction;
}

html, body{
    background-color: $grey-dark;
    line-height: 1.2em;
    font-weight: 500px;
    font-size: 1.1em;
}

h1{

}

h2{
    color: $primary;
}

ul{
    li{
        list-style: none;
    }
}

img{
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: $black;
}

.text-justify{
    text-align: justify;
}

.text-center{
    text-align: center;
}

.hero{
    height: 85vh;
    margin: 0 auto;
    z-index: -9999;
    display: block;
    background-image: linear-gradient(rgba(177, 108, 223, 0.548), rgba(15, 35, 153, 0.589)),
    url('public/img/hero1.jpg');
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    padding-bottom: 15px;
    width: 100%;
    padding-top: 50px;


    &__content{
        width: 80%;
        margin: auto;
        height: 100%;
        padding-top: 110px;
        text-align: center;

        h1{
            font-size: 3em;
            color: white;
        }

        p{
            margin: 40px auto;
            font-weight: 800;

        }
    }

}

.categories{
    @include flex();
    margin: 40px auto;

    .category{
        width: 200px;
        height: 120px;
        text-align: center;
        display: block;
        background-color: $white;
        padding-top: 20px;
        border-radius: 10px;
        cursor: pointer;

        &__icon{
            color: $primary;
        }

        &__name{
            color: $tertiary;
            font-weight: bold;
        }
    }

    .category:hover{
        background-color: $primary;
        
        &__icon{
           i{
            color: $white;
            color: red;
           }
        }

        &__name{
            color: $white;
            color: red;
        }
    }

}

.about{
    @include flex();
    &__image{
        position: relative;

        .image{
            width: 450px;
            height: 300px;
            margin: 35px auto auto 15px;
            border-radius: 10px;
        }

        &__bg{
            width: 55%;
            margin: auto 0;
            background-color: $primary;
            position: absolute;
            border-radius: 10px;
            top: 0;
            right: 0;
            z-index: -9999;
            height: 370px;
        }
    }

    &__text{
        margin: 15px auto;
        padding-left: 10px;
        padding-top: 40px;
        text-align: justify;
        
        strong{
            color: $primary
        }
    }
}

.services{
    &__service{
        border-radius: 5px;
        border: 3px solid $white;
        background-image: linear-gradient(rgba(177, 108, 223, 0.548), rgba(15, 35, 153, 0.589)),
            url('../public/images/hero1.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 330px;
        margin: 30px;
        flex: 1;
        padding-top: 30px;

        i{
           // margin: 30px;
            //font-size: 3px;
        }

        h3{
            margin: 30px auto;
        }


    }
}

.clients{
    display: block;
    text-align: center;
    margin: 20px auto;
   p{
    text-align: center;
    margin: 15px auto;
   }

    &__list{
        @include flex();
        
        &__item{
            display: block;
             flex: 1;

        .circle{
            width: 60px;
            height: 60px;
            border-radius: 30px;
            background-color: $primary;
            color: $white;
            text-align: center;
            display: table;
            margin: auto;

            p{
                vertical-align: middle;
                margin: 15px auto;
            }
        }

        p{
            margin: 10px auto;
        }
        }
    }
}

.blog{
    display: block;
    text-align: center;

    h2{
        margin: auto;
    }
    p{
        width: 70%;
        margin: auto;
    }

    &__items{
        @include flex();
        &__item{
            border-radius: 5px;
            bottom: 3px solid $white;
            position: relative;
            display: block;
            height: auto;
            text-align: center;
              background-color: $wheat;
            padding: 35px;
            margin: 15px;
            width: 46%;

            h3{
                color: $black;
                text-align: center;
            }

           .btn{
            margin: auto;
           }

           .date{
            position: absolute;
            border-radius: 5px;
            top: 115px;
            right: -30px;
            height: 90px;
            width: 60px;
            background-color: $secondary;
            text-align: center;
            color: $white;
           }


        }
    }
}

.documents{
    &__list{
        &__item{
            

            h3{
                color: $secondary;
            }
            cursor: pointer;
            color: $black;
            border-radius: 5px;
            border: 2px solid $grey;
            padding: 8px;
            width: 47%;
            margin: 5px auto;

        }

        &__item:hover{
            color: $primary;

            h2{
                color: $primary;
            }
        }
    }
}

.team{
 //   text-align: justify;
    margin: auto;
    &__member{
        border-radius: 5px;
        background-color: $grey;
        border: 1px solid $grey;
        margin: 15px;
        width: 340px;
        padding-bottom: 10px;
        img{
            width: 300px;
            height: 230px;
            margin: auto auto 5px auto;
        }

        .links{
            i{
                font-size: 1.4em;
            }
        }
    }
}

.footer{
    background-color: $tertiary;
    color: $white;
    padding-top: 60px;
    padding-bottom: 30px;

    i{
        color: $primary;
        margin-right: 1px
    }

    &__items{
        @include flex();

        &__item{
            display: block;
            padding-left: 30px;
            flex: 1;

            h4{
                color: $white;
                padding-right: 15px;
            }

            ul{
                margin: 20px auto;
                li{
                    margin: 15px auto;
                    color: $grey-dark;

                    i{
                        margin-right: 10px;
                    }

                     a{
                        color: $grey-dark;
                     }

                     a:hover{
                        color: $primary;
                     }
                }
            }

            .footer__gallery{
                @include flex();
                padding-right: 15px;

                img{
                    width: 80px;
                    height: 60px;
                    border-radius: 10px;
                    margin: 5px;
                    border: 5px $white solid;
                }
            }


        }
    }

    hr{
        width: 80%;
        margin: 20px auto;
        height: 1px;
        background-color: $white;
    }
    &__bottom{
        margin: 25px auto;
        .text{
            text-align: center;
            color: $grey-dark;

           p{
            text-align: center;
            strong{
                color: $primary;
            }
           }
        }
    }
}

/*responsive for 1024px*/
@media screen and (min-width: 1024px) and (max-width: 1279px) {

}